html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: auto;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5B5B5B;
    max-width: 1200px;
}
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 2.8em;
}
h3 {
    font-size: 1.6em;
}
p,
ul {
    margin-top: 0;
    line-height: 180%;
    font-size: 1.2em;
}
a {
    color: #5E5E5E;
}
#wrapper {
    background: #FFFFFF url(../img/img05.jpg) repeat;
}
/* Header */
#header {
    margin: 0 auto;
    padding: 0px 0px;
}
/* Logo */
#logo {
    margin: 0;
    padding-left: 10px;
    color: #FFFFFF;
}
#logo h1 {
    line-height: 120px;
    letter-spacing: -2px;
    font-size: 3.8em;
}
#logo h1 a {
    color: #1F1F1F;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}
#logo a {
    text-decoration: none;
    color: #000000;
}
/* Menu */
#menu {
    margin: 0 auto;
    padding: 0;
}
#menu ul {
    margin: 0;
    padding: 20px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}
#menu a {
    display: block;
    line-height: 100px;
    margin-bottom: 1px;
    padding: 0px 30px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #1F1F1F;
}
#menu a:hover, #menu .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #FFFFFF;
    background-color: black;
}
@media all and (min-width: 600px) {
    #menu li {
        display: inline-block;
        width: calc(100%/5);
    }
}
@media all and (min-width: 950px) {
    #logo {
        float: left;
        width: calc(100%/3);
    }
    #menu {
        float: right;
        width: calc(100%/3*2);
    }
    #menu a {
        margin-right: 1px;
    }
}
/* Banner */
#banner img {
    height: auto;
    width: 100%;
}
/* Page */
#page {
    margin: 0 auto;
    padding: 30px 10px;
}
#page::after {
    content: "";
    display: block;
    clear: both;
}
/* Content */
.post {
    overflow: hidden;
    margin-bottom: 40px;
    border-bottom: 1px solid #E7EBED;
}
.title {
    padding: 7px 0px 0px 0px;
    letter-spacing: -1px;
}
.title a {
    border: none;
    text-decoration: none;
    color: #222222;
}
.meta {
    margin-bottom: 20px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}
.date {
    float: left;
}
.posted {
    float: right;
}
.meta::after {
    content: "";
    display: block;
    clear: both;
}
.entry {
    padding: 0px 0px 40px 0px;
    text-align: justify;
}
.links {
    padding-top: 20px;
    margin-bottom: 30px;
}
.button {
    display: block;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
}
.button:hover {
    background: none;
    color: #222222;
    border: 1px solid #222222;
}
.button + .button {
    margin-top: 5px;
}
@media all and (min-width: 600px) {
    .button {
        display: inline-block;
        padding: 0 3em;
    }
    .links {
        text-align: center;
    }
    .button + .button {
        margin-left: 30px;
    }
}
@media all and (min-width: 950px) {
    #sidebar {
        float: left;
        width: calc(100%/3-1.5em);
    }
    #content {
        float: right;
        margin-right: 1.5em;
        width: calc(100%/3 * 2);
    }
}
/* Sidebar */
#sidebar {
    margin: 0;
    padding: 0;
}
#sidebar ul {
    margin: 0;
    padding: 0 0 30px 0;
    list-style-type: none;
}
#sidebar ul li {
    line-height: 40px;
    border-bottom: 1px solid #E7EBED;
    margin: 0px 0px;
    border-left: none;
}
#sidebar ul li a {
    padding: 0px 0px 0px 20px;
    background: url(../img/img04.jpg) no-repeat left 50%;
}
#sidebar ul li a:hover {
    text-decoration: none;
}
#sidebar h2 {
    padding: 0px 0px 30px 0px;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #222222;
}
/* Footer */
#footer {
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
}
#footer p {
    margin: 0;
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: #5E5E5E;
}

